<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro
    name="triskel_ros2_control"
    params="use_mock_hardware serial_port baud_rate:=1000000"
  >
    <ros2_control name="triskel_system" type="system">
      <hardware>
        <xacro:if value="${use_mock_hardware}">
          <plugin>mock_components/GenericSystem</plugin>
          <param name="calculate_dynamics">true</param>
        </xacro:if>
        <xacro:unless value="${use_mock_hardware}">
          <plugin>sts_hardware_interface/STSHardwareInterface</plugin>
          <param name="serial_port">${serial_port}</param>
          <param name="baud_rate">${baud_rate}</param>
          <param name="use_sync_write">true</param>
          <param name="proportional_acc_max">100</param>
          <param name="reset_states_on_activate">false</param>
        </xacro:unless>
      </hardware>

      <xacro:macro name="velocity_joint" params="name motor_id">
        <joint name="${name}">
          <param name="motor_id">${motor_id}</param>
          <param name="operating_mode">1</param>
          <param name="max_velocity_steps">3400</param>
          <command_interface name="velocity">
            <param name="min">-4.71</param>
            <param name="max">4.71</param>
          </command_interface>
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
          <state_interface name="velocity" />
          <state_interface name="effort" />
        </joint>
      </xacro:macro>

      <xacro:macro
        name="position_joint"
        params="name motor_id lower upper"
      >
        <joint name="${name}">
          <param name="motor_id">${motor_id}</param>
          <param name="operating_mode">0</param>
          <param name="position_center_steps">2048</param>
          <param name="min_position">${lower}</param>
          <param name="max_position">${upper}</param>
          <param name="max_velocity_steps">3400</param>
          <command_interface name="position">
            <param name="min">${lower}</param>
            <param name="max">${upper}</param>
          </command_interface>
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
          <state_interface name="velocity" />
          <state_interface name="effort" />
        </joint>
      </xacro:macro>

      <xacro:velocity_joint name="wheel_1" motor_id="250" />
      <xacro:velocity_joint name="wheel_2" motor_id="251" />
      <xacro:velocity_joint name="wheel_3" motor_id="252" />

      <xacro:position_joint name="arm_1" motor_id="1" lower="-1.5509" upper="1.5509" />
      <xacro:position_joint name="arm_2" motor_id="2" lower="-1.6122" upper="1.6122" />
      <xacro:position_joint name="arm_3" motor_id="3" lower="-1.7610" upper="1.7610" />
      <xacro:position_joint name="arm_4" motor_id="4" lower="-1.7533" upper="1.7533" />
      <xacro:position_joint name="arm_5" motor_id="5" lower="-2.6998" upper="3.1907" />
      <xacro:position_joint name="arm_6" motor_id="6" lower="-1.7641" upper="1.3775" />
      <xacro:position_joint name="arm_7" motor_id="7" lower="-2.7796" upper="3.0710" />
      <xacro:position_joint
        name="gripper_1"
        motor_id="8"
        lower="-2.2"
        upper="0.0"
      />
    </ros2_control>
  </xacro:macro>
</robot>
